.App {
  font-family: Google Sans, Arial, sans-serif;
  font-weight: 400px;
}

.weather {
  border: 1px solid grey;
  width: 800px;

  margin: 20px;
  padding: 40px;
  background: #5e7dcd;
  background: linear-gradient(270deg, #5e7dcd, #02b9d4);
}
h1 {
  margin-left: 20px;

  font-size: 60px;
  font-weight: 300;
}
li {
  list-style: none;
}
form {
  margin: 20px auto;
  margin-bottom: 20px;
  text-align: center;
}
img {
  margin-left: 30px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
}
.degree {
  font-size: 45px;
  vertical-align: -7px;
}
.details {
  font-size: 17px;
}
.details-1 {
  font-size: 15px;
}
.searchButton {
  width: 500px;
  height: 35px;
  margin-right: 5px;
}
.submitButton {
  width: 80px;
  height: 35px;
  background: violet;
}
.submitButton:hover {
  background: white;
  cursor: pointer;
}
footer {
  max-width: 800px;
  font-size: 12px;
  text-align: center;
}
@media (max-width: 800px) {
  .weather {
    max-width: 500px;
    padding: 0;
    margin: 0;
  }
  .searchButton {
    width: 300px;
    height: 35px;
  }
  .submitButton {
    width: 70px;
  }
  .container {
    padding: 10px;
  }
}
