.App {
  font-family: Google Sans, Arial, sans-serif;
  font-weight: 400px;
  max-width: 1200px;
}

.weather {
  border: 1px solid grey;
  width: 800px;

  margin: 20px;
  padding: 40px;

  background: #cac4ac;
  background: linear-gradient(135deg, #cac4ac, #31515d);
}

h1 {
  margin-left: 20px;

  font-size: 60px;
  font-weight: 300;
}
li {
  list-style: none;
}
form {
  margin: 20px auto;
  margin-bottom: 20px;
  text-align: center;
}
img {
  margin-left: 30px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
}
.degree {
  font-size: 40px;
  vertical-align: -7px;
}
.degree-2 {
  font-size: 15px;
  vertical-align: 12px;
}
.degree a {
  text-decoration: none;
}
.details {
  font-size: 17px;
}

.details-1 {
  font-size: 15px;
}
.searchButton {
  width: 600px;
  height: 35px;
  margin-right: 5px;
}
.submitButton {
  width: 100px;
  height: 35px;
  background: violet;
}
.submitButton:hover {
  background: white;
  cursor: pointer;
}
footer {
  max-width: 800px;
  font-size: 12px;
  text-align: center;
}
.weatherForecast-Data {
  text-align: center;
  margin-top: 10x;
}
.weatherForecast-icon img {
  margin-right: 20px;
}
.weatherForecast-Temperatures {
  margin-left: 10px;
}
.weatherForecast-Temperature-min {
  margin-left: 3px;
  opacity: 0.7;
}
@media (max-width: 800px) {
  .weather {
    max-width: 515px;
    padding: 0;
    margin: 0;
  }
  .searchButton {
    width: 350px;
    height: 35px;
  }
  .submitButton {
    width: 70px;
  }
  .container {
    padding: 10px;
  }
}
